<div class="btn-group" dropdown>
  <button type="button" class="btn btn-primary">{{selectedSource?.name || 'Choose a source...'}}</button>
  <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let source of sources" role="menuitem"><a class="dropdown-item" (click)="onSourceSelect(source)">{{source.name}}</a>
    </li>
  </ul>
</div>
<products-list *ngIf="selectedSource" [source]="selectedSource"></products-list>
